<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EZ-Trade</title>
  <link rel="stylesheet" type="text/css" href="/public/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>

<body>

    
      {{{body}}}
   

</body>