<section class="homepage-head">
    <div class="searchbar-home"> 
        <input class="search" type="text" placeholder="search items"><input>
        <div id="categories">
            <ul>
                {{#each categories as |category|}}
                    <li>{{category}}</li>

                {{/each}}

            <ul/>
        </div>
    </div>
</section>