 <header class="login-header">
        <img src="/images/ez-tradelogo-white.png" height="45px">
    </header>

    <main>
        <section class="login-body">
            <div class="login-body-image">

            </div>
            <div class="login-body-form">
                <div class="main-form">
                    <h1>login to your account</h1>
                    <form>
                        <input class="username" type="text" name="username" placeholder="enter your username or email">
                        <input class="password" type="text" name="password" placeholder="enter your password">
                        <button type="submit" class="login-button">Log In</button>
                        <P>Don't have an account? Create one <a href="#">Here</a>.</P>
                    </form>
                </div>
            </div>
        </section>

    </main>
    <footer class="login-footer">
        <div class="contacts">
            <div class="contact-links">
                <img src="/images/email-icon-footer.png" height="18px">
                <p>eztrade@info.com</p>
            </div>
            <div class="contact-links">
                <img src="/images/phone-icon-footer.png" height="18px">
                <p>1-800-545-3954</p>
            </div>
        </div>
    </footer>