 <div class="container">
        <header class="login-header">
            <img src="/public/images/ez-tradelogo-white.png" height="45px">
        </header>

        <main>
            <section class="cartview-body">

                {{#each cartitems as |cartitem|}}
                <div class="cart-item">
                    <div class="cart-item-img">
                        <div class="cart-image-placeholder"></div>
                    </div>
                    <div class="cart-item-info">
                        <h2 class="cart-item-name">product name</h2>
                        <h3 class="cart-item-price">60$</h3>
                        <p class="cart-view-description">This is a brief description of the product that should be
                            rendered when viewing a product in the cart.</p>
                        <div class="cart-contact-info">
                            <div class="seller-info-cartview">
                                <img src="/public/images/user-icon-empty.png" width="20px" height="20px">
                                <p class="seller-profile-name">profile name</p>
                            </div>
                            <div class="seller-info-cartview">
                                <img src="/public/images/email-icon-2.png" height="20px">
                                <p class="seller-email-address">seller@email.com</p>
                            </div>
                            <div class="seller-info-cartview">
                                <img src="/public/images/phone-icon-2.png" height="20px">
                                <p class="seller-phone-number">phone number</p>
                            </div>
                            <div class="seller-info-cartview">
                                <img src="/public/images/location-icon.png" height="20px">
                                <p class="cart-seller-location">Dallas, Texas</p>
                            </div>
                        </div>
                        <button class="remove-from-cart">
                            <div class="remove-from-cart-icon">

                            </div>
                            Remove
                        </button>
                    </div>
                </div>
                {{/each}}

                <div class="sub-total">
                    <P id="ammount-of-items"> Subtotal 3 Items</P>
                    <p id="total-cost">Total: $45.61</p>
                    <button class="checkout-button">Checkout</button>
                </div>
            </section>
        </main>
    </div>
    <footer class="cartview-footer">
        <div class="contacts">
            <div class="contact-links">
                <img src="/public/images/email-icon-footer.png" height="18px">
                <p>eztrade@info.com</p>
            </div>
            <div class="contact-links">
                <img src="/public/images/phone-icon-footer.png" height="18px">
                <p>1-800-545-3954</p>
            </div>
        </div>
    </footer>